<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>


    <!-- Bootstrap core CSS -->
    <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="dashboard.css" rel="stylesheet">
    <link href="carousel.css" rel="stylesheet">
    <link href="style.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]>
    <script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">大学生自主交易系统</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="index.html">首页</a></li>
                <li><a href="#">个人信息</a></li>
                <li><a href="#">发布商品</a></li>
                <li><a href="#">分类</a></li>
            </ul>
            <!-- 查询表单 -->
            <form class="navbar-form navbar-right">
                <input type="text" class="form-control" placeholder="搜索">
            </form>
        </div>
    </div>
</nav>
<BR>

<div class="placeholders row" style="padding-left: 10%;margin-right: 0px">
    <div class="col-xs-6 col-sm-3 placeholder left-img" style="width: 50%">
        <img src="../../img/14.jpg"
             style="width: 100%;"
             class="img-responsive" alt="Generic placeholder thumbnail">


    </div>

    <div class="col-xs-6 col-sm-3 right-dec"
         style="position:relative;width: 50%;height:400px;padding-left: 10%;text-align: left">
        <h3>
            二手小说
        </h3>
        <h4>
            <span class="span_red">
            10.0
            </span>
        </h4>
        <h4>
            <span class="span_gray;" style="text-decoration-line: line-through;color: gainsboro">
                原价：20.0
            </span>
        </h4>
        <h4>
            买家信息：学生
        </h4>

        <div style="position: absolute;bottom: 20px">
            <a class="btn " _href="#">
                <span class="glyphicon btn-danger glyphicon-star-empty" aria-hidden="true">

                </span>
            </a>
            <h4>
                发布于&nbsp;2019/11/22
            </h4>
        </div>

        <div style="margin-top: 20%">
            <a class="btn btn-danger" href="#">立即购买</a>
        </div>

    </div>

</div>

<div class="placeholders row" style="margin-right: 0px;text-align: left;padding-left: 10%">

    <h2 class="page-header">商品描述</h2>
    <div>
        <p>
            八成新，买来就没怎么用过，喜欢的可以入手
        </p>
    </div>

</div>

<div class="placeholders row" style="margin-right: 0px;text-align: left;padding-left: 10%">

    <h3 class="page-header">评价</h3>
    <form enctype="multipart/form-data" method="post" action="/publish/add"
          style="text-align: left;width: 90%">


        <div class="form-group">
            <label for="exampleFormControlTextarea1"></label>
            <textarea required
                      name="goodsDescribe" class="form-control mytextform"
                      id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>

        <input type="hidden" name="userId" class="userId" value="41">
        <input type="hidden" name="publishGoodsId" class="userId" value="41">

        <div class="btn btn-primary mb-2 mytextformb">提交</div>
    </form>
    <div style="margin-top: 10px;
        margin-bottom:20px;
        padding-top:20px;
        border-top: gainsboro solid 1px;
        width: 70%"
         class="messageContainer">
        <div class='messages' >

            <h5>
                <span class='span_pink'>
                    我是你
                </span>
            </h5>
            <p>便宜点把.</p>
            <div >2019/1/2&nbsp;
                <a class='btn btn-default responseButton' _href='userid' role='button'>
                    回复
                </a>
                <form class='responseForm' enctype='multipart/form-data' method='post'
                      action='/publish/add'
                      style='text-align: left;width: 90%'>

                    <div class='form-group'>
                        <label for='exampleFormControlTextarea1'></label>
                        <textarea required
                                  name='goodsDescribe' class='form-control mytextform'
                                  rows='3'></textarea>
                    </div>

                    <input type='hidden' name='userId' class='userId' value='41'>
                    <input type='hidden' name='publishGoodsId' class='userId' value='41'>

                    <div class='btn btn-primary mb-2 mytextformb'>提交</div>
                </form>
            </div>
        </div>
        <div class='messages' >

            <h5>
                <span class='span_pink'>
                    我是你
                </span>
            </h5>
            <p>便宜点把.</p>
            <div >2019/1/2&nbsp;
                <a class='btn btn-default responseButton' _href='userid' role='button'>
                    回复
                </a>
                <form class='responseForm' enctype='multipart/form-data' method='post'
                      action='/publish/add'
                      style='text-align: left;width: 90%'>

                    <div class='form-group'>
                        <label for='exampleFormControlTextarea1'></label>
                        <textarea required
                                  name='goodsDescribe' class='form-control mytextform'
                                  rows='3'></textarea>
                    </div>

                    <input type='hidden' name='userId' class='userId' value='41'>
                    <input type='hidden' name='publishGoodsId' class='userId' value='41'>

                    <div class='btn btn-primary mb-2 mytextformb'>提交</div>
                </form>
            </div>
        </div>
        <div class='messages' >

            <h5>
                <span class='span_pink'>
                    我是你
                </span>
            </h5>
            <p>便宜点把.</p>
            <div >2019/1/2&nbsp;
                <a class='btn btn-default responseButton' _href='userid' role='button'>
                    回复
                </a>
                <form class='responseForm' enctype='multipart/form-data' method='post'
                      action='/publish/add'
                      style='text-align: left;width: 90%'>

                    <div class='form-group'>
                        <label for='exampleFormControlTextarea1'></label>
                        <textarea required
                                  name='goodsDescribe' class='form-control mytextform'
                                  rows='3'></textarea>
                    </div>

                    <input type='hidden' name='userId' class='userId' value='41'>
                    <input type='hidden' name='publishGoodsId' class='userId' value='41'>

                    <div class='btn btn-primary mb-2 mytextformb'>提交</div>
                </form>
            </div>
        </div>




    </div>

</div>

</body>

<!-- Placed at the end of the document so the pages load faster -->
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
<script src="../../dist/js/bootstrap.min.js"></script>

<script src="../../assets/js/vendor/holder.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
<style type="text/css">

</style>

<script>
    $(function () {
        //$(".responseForm").fadeOut();

        $(".responseButton").click(function () {

            $(".responseForm").slideToggle(500);

        })


    })

    function dateFormat(fmt, date) {
        var ret;
        var opt = {
            "Y+": date.getFullYear().toString(),        // 年
            "m+": (date.getMonth() + 1).toString(),     // 月
            "d+": date.getDate().toString(),            // 日
            "H+": date.getHours().toString(),           // 时
            "M+": date.getMinutes().toString(),         // 分
            "S+": date.getSeconds().toString()          // 秒
            // 有其他格式化字符需求可以继续添加，必须转化成字符串
        };
        for (var k in opt) {
            ret = new RegExp("(" + k + ")").exec(fmt);
            if (ret) {
                fmt = fmt.replace(ret[1], (ret[1].length == 1) ? (opt[k]) : (opt[k].padStart(ret[1].length, "0")))
            }
            ;
        }
        ;
        return fmt;
    }


</script>


<script>
    $(function () {
        $(".mytextformb").click(function () {



            var mytextform = $(".mytextform");
            var userId = $(".userId").attr("value");
            var publishGoodsId = $(".publishGoodsId").attr("value");


            var text = mytextform.val().trim();
            mytextform.val("");

            var messageContainer = $(".messageContainer");
            var aa = "<h5><span class='span_pink'>";
            aa = aa + "名称";
            aa = aa + "</span></h5><p>"
            aa = aa + text;
            var date = new Date();
            var dd = dateFormat("YYYY-mm-dd HH:MM", date)
            aa = aa + "</p><div>" + dd;
            messageContainer.prepend(aa);

            console.log(text);
            console.log(userId);

            $.post(
                /*"http://nihaostillme.site:8082/hello",*/
                "http://localhost:8080/messages/addmessages",
                {
                    text: text,
                    userId: userId,
                    publishGoodsId: publishGoodsId
                },
                function (data, status) {

                    if (status == "success") {
                        var messageContainer = $(".messageContainer");
                        var aa = "<h5><span class='span_pink'>";
                        aa = aa + "名称";
                        aa = aa + "</span></h5><p>"
                        aa = aa + text;
                        var date = new Date();
                        var dd = dateFormat("YYYY-mm-dd HH:MM", date)
                        aa = aa + "</p><div>" + dd;
                        messageContainer.prepend(aa);

                    }

                    console.log(data);
                    console.log(status);

                }
            )


        });


    })

</script>


</html>