<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>


    <!-- Bootstrap core CSS -->
    <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="dashboard.css" rel="stylesheet">
    <link href="style.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]>
    <script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>


<div class="placeholders" style="overflow: hidden">

    <a href="detail.html" target="_blank">
    <div class="col-xs-6 col-sm-3 placeholder" style="height: 207px">
        <img src="../../img/11.jpg"
             style="width: 200px;height: 136px"
             class="img-responsive" alt="Generic placeholder thumbnail">
        <div style="overflow: hidden;height: 30px">
            <h4>品描述商 <span class="span_red">22￥</span></h4>
        </div>
        <div style="overflow: hidden;height: 37px">
            <span class="text-muted">商品品描述商品描述商品描述商品描品描述商品描述商品描述商品描品描述商品描述商品描述商品描描述商品描述商品描述商品描述商品描述</span>
        </div>
    </div>
    </a>

    <div class="col-xs-6 col-sm-3 placeholder" style="height: 207px">
        <img src="../../img/12.jpg"
             style="width: 200px;height: 136px"
             class="img-responsive" alt="Generic placeholder thumbnail">
        <div style="overflow: hidden;height: 30px">
            <h4>品描述商</h4>
        </div>
        <div style="overflow: hidden;height: 37px">
            <span class="text-muted">商品品描述商品描述商品描述商品描品描述商品描述商品描述商品描品描述商品描述商品描述商品描描述商品描述商品描述商品描述商品描述</span>
        </div>
    </div>
    <div class="col-xs-6 col-sm-3 placeholder" style="height: 207px">
        <img src="../../img/13.jpg"
             style="width: 200px;height: 136px"
             class="img-responsive" alt="Generic placeholder thumbnail">
        <div style="overflow: hidden;height: 30px">
            <h4>品描述商</h4>
        </div>
        <div style="overflow: hidden;height: 37px">
            <span class="text-muted">商品品描述商品描述商品描述商品描品描述商品描述商品描述商品描品描述商品描述商品描述商品描描述商品描述商品描述商品描述商品描述</span>
        </div>
    </div>
    <div class="col-xs-6 col-sm-3 placeholder" style="height: 207px">
        <img src="../../img/14.jpg"
             style="width: 200px;height: 136px"
             class="img-responsive" alt="Generic placeholder thumbnail">
        <div style="overflow: hidden;height: 30px">
            <h4>品描述商</h4>
        </div>
        <div style="overflow: hidden;height: 37px">
            <span class="text-muted">商品品描述商品描述商品描述商品描品描述商品描述商品描述商品描品描述商品描述商品描述商品描描述商品描述商品描述商品描述商品描述</span>
        </div>
    </div>

    <div class="col-xs-6 col-sm-3 placeholder" style="height: 207px">
        <img src="../../img/5.jpg"
             style="width: 200px;height: 136px"
             class="img-responsive" alt="Generic placeholder thumbnail">
        <div style="overflow: hidden;height: 30px">
            <h4>品描述商</h4>
        </div>
        <div style="overflow: hidden;height: 37px">
            <span class="text-muted">商品品描述商品描述商品描述商品描品描述商品描述商品描述商品描品描述商品描述商品描述商品描描述商品描述商品描述商品描述商品描述</span>
        </div>
    </div>

    <div class="col-xs-6 col-sm-3 placeholder" style="height: 207px">
        <img src="../../img/4.jpg"
             style="width: 200px;height: 136px"
             class="img-responsive" alt="Generic placeholder thumbnail">
        <div style="overflow: hidden;height: 30px">
            <h4>品描述商</h4>
        </div>
        <div style="overflow: hidden;height: 37px">
            <span class="text-muted">商品品描述商品描述商品描述商品描品描述商品描述商品描述商品描品描述商品描述商品描述商品描描述商品描述商品描述商品描述商品描述</span>
        </div>
    </div>

    <div class="col-xs-6 col-sm-3 placeholder" style="height: 207px">
        <img src="../../img/1.jpg"
             style="width: 200px;height: 136px"
             class="img-responsive" alt="Generic placeholder thumbnail">
        <div style="overflow: hidden;height: 30px">
            <h4>品描述商</h4>
        </div>
        <div style="overflow: hidden;height: 37px">
            <span class="text-muted">商品品描述商品描述商品描述商品描品描述商品描述商品描述商品描品描述商品描述商品描述商品描描述商品描述商品描述商品描述商品描述</span>
        </div>
    </div>

















</div>

<div class="placeholders" style="width: 100%">
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#">Previous</a></li>
            <li class="page-item active"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
        </ul>
    </nav>
</div>
</body>

<!-- Placed at the end of the document so the pages load faster -->
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
<script src="../../dist/js/bootstrap.min.js"></script>
<!-- Just to make our placeholder images work. Don't actually copy the next line! -->
<script src="../../assets/js/vendor/holder.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
</html>